{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '' %}">
    {% block extrastylesheet %}{% endblock %}
</head>
<body class="w-screen h-screen" style='background-color: hsl(234, 29%, 20%); display: flex; justify-content: center; align-items: center; height: 100vh; overflow-y: hidden;'>
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>