{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block extrastylesheet %}
<style>
    @media only screen and (min-width: 320px) and (max-width: 425px) {
        .main{
            height: 30%;
            width: 17%;
        }
    }
</style>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="main" style="display: flex; flex-direction: column; padding: 2%; border: 1px solid black; border-radius: 5px; overflow-x: hidden;">

        <div class="" style="display: flex; justify-content: space-between;">
            {% if user.role == 1 %}
                <p>DOCTOR</p>
            {% else %}
                <p>USER</p>
            {% endif %}
            <form action="{% url 'logout' %}" class="" method="post" style="display: flex; align-items: center; border: 1px solid black; border-radius: 5px;">
                {% csrf_token %}
                <input type="submit" class="" value="logout" style="cursor: pointer; padding: 1%; background-color: salmon;">
            </form>
        </div>
        
        {% for obj, val in userobj %}

            
            {% if obj in fields %}
                
                {% if obj == 'profilePicture' %}
                    <p class="" style="color: white;">{{obj}}</p><img  src="/media/{{val}}" width="10%"  alt="profilePicture">
                {% else %}
                    <p class="text-white font-semibold text-lg" style="color: white;">{{obj}} : {{val}}</p>
                {% endif %}

            {% endif %}
                
        {% endfor %}
            
    
    </div>
{% else %}
    <div class="" style="display: flex; flex-direction: column; padding: 2%; align-items: center; background-color: skyblue; width: 15%; height:15%; justify-content: space-between; border: 1px solid black; border-radius: 5px;">
        <a href="{% url 'login' %}" class="text-white font-bold">LOGIN</a>
        <p>OR</p>
        <a href="{% url 'signupNav' %}" class="text-white font-bold">SIGNUP</a>
    </div>
{% endif %}
    
{% endblock %}