{% extends 'base.html' %}
{% load static %}
{% block title %} signup {% endblock %}

{% block content %}

<div class="" style="background-color:SandyBrown; height: 40%; padding: 4%; overflow: auto; border: 1px solid black; border-radius: 5px; ">
    <form action="{% url 'userSignup' %}" class="" method="post" enctype="multipart/form-data" style="display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); margin-left: 1rem; align-items: center;">
            {% csrf_token %}
            {{form}}
            <br>
        <button type="submit" style="border: 1px solid black; width: 20%; margin-left:90%  ; padding: 3%; background-color: whitesmoke;" >SIGNUP</button>
    </form>
</div>

{% endblock %}